<html>
<head>
    <title>
        Новая статья
    </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</head>
<body>
<div th:insert="~{navbar :: copy}"></div>
<div th:fragment="inputs">
    <div class="container vh-100 d-flex justify-content-top flex-column">
        <h1>Редактирование поста</h1>
        <div class="mb-3">
            <label for="topic" class="form-label">Название статьи:</label>
            <input class="form-control" id="topic" th:value="${post.topic}"/>
        </div>
        <div class="mb-3">
            <label for="post_text" class="form-label">Текст:</label>
            <textarea class="form-control" id="post_text" th:text="${post.post_text}"></textarea>
        </div>
        <label class="form-label">Авторы:</label>
        <div class="input-group mb-3">
            <div id="checkboxes">
                <div th:each="user: ${users}">
                    <input type="checkbox" aria-label="Checkbox for following text input" th:checked="${#strings.contains(post.get('authors'), user)}">
                    <label th:text=" ${user}" th:for="${user}"></label>
                </div>
            </div>
        </div>
        <button id="save" type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</div>
<script src="js/authors.js"> </script>
</body>
</html>