<html>
  <head>
    <title>
      Посты
    </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
  <div th:insert="~{navbar :: copy}"></div>

  <div class="container vh-100 d-flex justify-content-start flex-column">
    <form th:action="@{/posts}">
      <div class="input-group my-5">
        <input name="keyword" id="keyword" type="search" class="form-control rounded" placeholder="Введите название статьи" aria-label="Search" aria-describedby="search-addon"  th:value"{keyword}" required/>
        <button type="submit" class="btn btn-outline-primary">Найти</button>
        <div style="margin-left: 200px;">
        </div>
        <a th:href="@{'new_post'}">
          <button type="button" class="btn btn-primary">Добавить статью</button>
        </a>
    </form>
  </div>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название статьи</th>
      <th scope="col">Авторы</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${listPosts}">
      <th scope="row" th:text="${post.get('id')}">ID поста не найдено</th>
      <th scope="row" th:text="${post.get('topic')}">Название статьи не найдено</th>
      <th scope="row" th:text="${post.get('authors')}">Название статьи не найдено</th>
      <td>
        <div style="word-spacing: 10px;">
          <a style="text-decoration: none;" th:href="@{'edit_post/' +${post.id}}"<a>Редактировать</a>
          <a style="text-decoration: none;" th:href="@{'delete_post/' +${post.id}}"<a>Удалить</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
  </body>
</html>
