<html>
  <head>
    <title>
      Посты
    </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
  <div th:insert="~{navbar :: copy}"></div>

  <div class="container vh-100 d-flex justify-content-start flex-column">
    <form th:action="@{/posts}">
      <div class="input-group my-5">
        <input name="keyword" id="keyword" type="search" class="form-control rounded" placeholder="Введите название статьи" aria-label="Search" aria-describedby="search-addon"  th:value"{keyword}" required/>
        <button type="submit" class="btn btn-outline-primary">Найти</button>
        <div style="margin-left: 200px;">
        </div>
        <a class="me-3" th:href="@{'new_post'}">
          <button th:if="${user.role} != 'Viewer'" type="button" class="btn btn-primary">Добавить статью</button>
        </a>
        <a th:href="@{'admin_panel'}">
          <button th:if="${user.role} == 'Admin'" type="button" class="btn btn-primary">Редактор пользователей</button>
        </a>
    </form>
  </div>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Статья</th>
      <th scope="col">Авторы</th>
      <th scope="col">Дата публикации</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${listPosts}">
      <th scope="row" th:text="${post.get('number')}"></th>
      <th scope="row" ><a th:href="@{'post_' +${post.get('id')}}" th:text="${post.get('topic')}"/></th>
      <th scope="row" th:text="${post.get('authors')}"></th>
      <th scope="row" th:text="${post.get('created_dt')}"></th>
      <td>
        <div style="word-spacing: 10px;">
          <a style="text-decoration: none;" th:if="${user.role} != 'Viewer' AND ${#strings.contains(post.get('authors'), user.username)} OR ${user.role} == 'Admin'" th:href="@{'post_edit_' +${post.id}}"<a>Редактировать</a>
          <a style="text-decoration: none;" th:if="${user.role} != 'Viewer' AND ${#strings.contains(post.get('authors'), user.username)} OR ${user.role} == 'Admin'" th:href="@{'post_' +${post.id}+ '/delete'}"<a>Удалить</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
  </body>
</html>
